{% spaceless %}
    <nav class="navigation">
        <ul class="navbar">
            <li class="logo">
                <a href="{{ path('md5buster_homepage') }}">
                    {% image '@MD5BusterBundle/Resources/public/images/square_logo_small_w.png' output='images/square_logo_small_w.png' %}
                        <img src="{{ asset_url }}" alt="MD5 Buster" title="MD5 Buster" />
                    {% endimage %}
                </a>
            </li>
            <li>
                <a href="{{ path('md5buster_homepage') }}" translatable="Decrypt" id="decrypt-link">Decrypt</a>
            </li>
            <li>
                <a href="{{ path('md5buster_encrypt') }}" translatable="Encrypt" id="encrypt-link">Encrypt</a>
            </li>
        </ul>
        <ul class="navbar nav-right languages">
            <li>
                {% image '@MD5BusterBundle/Resources/public/images/us_uk_flag.png' output='images/us_uk_flag.png' %}
                    <img src="{{ asset_url }}" alt="English" title="English" id="us_uk_flag" />
                {% endimage %}
            </li>
            <li>
                {% image '@MD5BusterBundle/Resources/public/images/ro_flag.png' output='images/ro_flag.png' %}
                    <img src="{{ asset_url }}" alt="Romana" title="Romana" id="ro_flag" />
                {% endimage %}
            </li>
        </ul>
    </nav>
{% endspaceless %}